<h3>{{ heading_title }}</h3>
<div class="row new-info"> {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img width="250" height="250" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <div class="coupon"><span>{{ text_coupon }}</span><strong>{{ product.coupon_minus }}{{ text_yuan }}</strong></div>
        <div class="total-remain">
          <span class="total"></span>
        <span class="remain" style="width: {{ product.coupon_remain/product.coupon_total*100 }}px">
          {{ text_remain_coupon }}{{ product.coupon_remain }}{{ text_unit }}
        </span>
        </div>
        {% if product.price %}
        <p class="price"> {{ text_price }}{% if not product.special %}
          {{ product.price }}
          {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
          {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
        {% endif %}
        {{ text_real_price }}<span class="real-price">{{ product.coupon_price }}</span>
      </div>
      <div class="button-group">
        <a class="btn-customer" href="{{ product.href }}">{{ text_go_detail }}</a>
      </div>
    </div>
  </div>
  {% endfor %} </div>
